$standardPadding: 10px;
.stock-list {
    position: absolute;
    background-color: #EBEBEB;
    z-index: 1;
    margin-top: 0;
    li {
        transition: 300ms;
        height: 40px;
        line-height: 40px;
        padding-left: $standardPadding; 
        &:hover {
            cursor:pointer;
            background-color: white;
        }
    }
    span {
        float: right;
        padding-right: $standardPadding;
    }
    i {
        padding-top: $standardPadding;
        padding-right: $standardPadding;
        float: right;
    }
}

#search-input {
    margin-bottom: 0;
}